#Hello1 {
    font-size: 50px;
    color: rgb(167, 255, 178);
    display: inline-block;
    margin: 0px 50px;
    border: 5px rgb(255, 195, 195) solid;
    padding: 5px;
}
.str{
    font-size: 100px;
    color: aqua;
}
#img{
    display: inline-block;
    border: 5px royalblue solid;
}
.ontop{
    background-color: darkcyan;
}
